header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 30px;
  height: 30px;
}
#bar {
  width: 30px;
  height: 30px;
}
#help {
  width: 30px;
  height: 30px;
}
#grade {
  width: 30px;
  height: 30px;
}
#setting {
  width: 30px;
  height: 30px;
}
#worldle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
